<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap Login Form Template</title>

	<!-- CSS -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/form-elements.css">
	<link rel="stylesheet" href="/css/style.css">
</head>


<body>

	<div class="wrap">
		<div class="form-group">
			<label for="companyLegName">Company Legal Name:</label>
			<input type="text" class="form-control" id="companyLegName">
		</div>
		<div class="form-group">
			<label for="subdomain">Subdomain:</label>
			<input type="text" class="form-control" id="subdomain">
		</div>
		<div class="form-group">
			<label for="email">Email address:</label>
			<input type="email" class="form-control" id="email">
		</div>

		<div class="form-group">
			<label for="contactnumber">Contact Number:</label>
			<input type="number" class="form-control" id="contactnumber">
		</div>

		<div class="form-group">
			<label for="contactnumber">Contact Number:</label>
			<input type="number" class="form-control" id="contactnumber">
		</div>

		<div class="form-group">
			<label for="address">Address:</label>
			<textarea style="height: 200px" class="form-control" id="address"></textarea>
		</div>

		<button type="submit" class="btn-default">Create Tenant</button>
	</div>


	<!---728x90--->

	<!-- Javascript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/js/scripts.js"></script>

</body>