<!DOCTYPE html>
<html lang="en">

    <head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    </head>
        <body>
<div class="wrapper" style="width: 320px; height: 548px;">
    <div class="phone-body">
        <div class="phone-area">
<!-- Your code here -->

        <div>
            <div class="center">
                <img src="http://lorempixel.com/people/420/420/">
            </div>
        </div>

<!-- End code -->
        </div>
    </div>
</div>
    </body>

</html>